<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    	{{ title }} - Generative Personal Assistant 
    {% else %}
    	Welcome to the Generative Personal Assistant 
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="{{ url_for('home_blueprint.index') }}"> 
			<img src={{ url_for('home_blueprint.static', filename='logo.jpg') }} height="35" width="35">
		</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
            	    <li><a href="{{ url_for('home_blueprint.explore') }}">Explore</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
            	    {% if current_user.is_anonymous %}
                       <li><a href="{{ url_for('auth_blueprint.login') }}">Login</a></li>
            	    {% else %}
		       <li><a href="{{ url_for('auth_blueprint.login') }}">Profile</a></li>
		       <li class="dropdown">
		         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Register
		         <span class="caret"></span></a>
		         <ul class="dropdown-menu">
		         </ul>
		       </li>
               <li><a href="{{ url_for('auth_blueprint.logout') }}">Logout</a></li>
		    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        {% block app_content %}
	    {% endblock %}
    </div>
{% endblock %}
